<div class="row section featured topspace">
  <h2 class="section-title"><span>CARBON VITALS</span></h2>

    <div class="col-lg-8">
      <table class="table">
        <tr><td>Symbol:</td><td>CARB</td></tr>
        <tr><td>Contract Address:</td><td>zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk</td></tr>
        <tr><td>Zilstream:</td><td><a href="https://zilstream.com/tokens/carb" target="_blank">https://zilstream.com/tokens/carb</a></td></tr>
        <tr><td>View Block:</td><td><a href="https://viewblock.io/zilliqa/address/zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk" target="_blank">https://viewblock.io/zilliqa/address/zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk</td></tr>
        <tr><td>Devex:</td><td><a href="https://devex.zilliqa.com/address/zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk" target="_blank">https://devex.zilliqa.com/address/zil1hau7z6rjltvjc95pphwj57umdpvv0d6kh2t8zk</td></tr>
        <tr><td>Total Supply:</td><td>10 000 000 (10 Million)</td></tr>
        <tr><td>Decimals:</td><td>8</td></tr>
        <tr><td colspan="2"><h4 class="text-center">Treasury Details</h4></tr>
        <tr><td colspan="2">Treasury Contract has not been deployed yet. We have defined our tests and are developing the contract currently.
        You can monitor the results of our tests here: <a href="https://tests.carbontoken.info">https://tests.carbontoken.info</a></td></tr>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-cta">
          <div class="panel-body-small">
              <div class="col-lg-12">
                  <p class="text-center"><strong>Your CARBON Account</strong></p>
                    <dl>
                      <dt>Account:</dt><dd id="zilAccount">...</dd>
                      <dt>Balance:</dt><dd id="zilCount">...</dd>
                    </dl>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-cta">
          <div class="panel-body-small">
              <div class="col-lg-12">
                <p class="text-center"><strong>Send CARBON</strong></p><br />
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="transferAmount" class="col-sm-3 control-label">CARBON</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="transferAmount" placeholder="Amount">
                    </div>
                  </div>
                  <div id="transferAddressGroup" class="form-group">
                    <label for="transferAddress" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="transferAddress" placeholder="Address">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary" id="send-carbon-button">Send CARBON</button>
                    </div>
                  </div>
                  <em>When you have completed transfer, please monitor on ViewBlock.</em>
                </form>
              </div>
          </div>
      </div>
    </div>





</div> <!-- / section -->
