<div class="row section topspace">
    <h2 class="section-title"><span>Get CARBON</span></h2>
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Get your own <b>CARBON</b> today through <a href="https://zilswap.io" target="_blank">zilswap.io</a>.
                </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://zilswap.io" class="btn btn-primary btn-lg">Get CARBON via ZILSWAP</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
